@charset "utf-8";
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
	font-style: oblique;
	font-weight: bold;
	font-variant: normal;
	color: #333;
}

body {
	background-color: #FF6600;
}
.ordered_list {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	font-style: normal;
	font-weight: bolder;
	font-variant: normal;
	color: #000;
}
.img_left_float {
	float: left;
	margin-right: 5px;
	border-top-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333;
	border-right-color: #333;
	border-bottom-color: #333;
	border-left-color: #333;
}
table {
	width: 960px;
	height: 400px;
	border: thin solid #000;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000;
}
.img_table_centered {
	float: none;
	width: auto;
	margin: 64px;

}
.checkboxform {
	float: left;
}
