@charset "utf-8";
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #003;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #003;
}

.body_text {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}
.contact_info {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	color: #000;
}
.img_left_float {
	float: left;
	margin-right: 15px;
	margin-left: 15px;
	border: thin solid #000100;
}
.img_right_float {
	float: right;
	margin-right: 15px;
	margin-left: 15px;
	border: thin none #000100;
}

img {
	vertical-align: bottom;
}
.TableSet {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	width: 600px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 60px;
}
.form_table {
	font-family: Arial, Helvetica, sans-serif;
	width: 820px;
	text-align: left;
}
